<div class="banner" style="background-image: url(<%= asset_path 'HomePageBanner-01.png' %>);">
  <div class="container_banner">
          <h1 class="home-title cosmos-color">Boro makes borrowing anything easy!</h1>
          <p>Don't Buy it, Boro it.</p>
            <div class=>
              <%= form_with url: items_path, method: :get, class: "d-flex" do %>
                <%= text_field_tag :query,
                    params[:query],
                    class: "form-control-homepage",
                    placeholder: "Find an item"%>
                <%= submit_tag "Search", class: "index-submit-button" %>
              <% end %>
            </div>
        <div class="offer">
          <p>or</p>
          <button name="button2" type="submit" class="btn btn-banner mt-2">
            <i class="fa-solid fa-list"></i></i>
            <% if current_user %>
              <%= link_to 'List Item', new_item_path %>
              <% else %>
              <%= link_to 'List Item', new_user_session_path %>
              <% end %>
          </button>
        </div>
  </div>
</div>
