<div class="spacer-100-px py-2">
</div>
<div class="container">
  <div class="container-category">
    <%= image_tag "icons/BBQ.svg", width: 35, class: "style-category-icon" %>
    <%= image_tag "icons/Bike.svg", width: 55, class: "style-category-icon" %>
    <%= image_tag "icons/Camera.svg", width: 35, class: "style-category-icon" %>
    <%= image_tag "icons/Chainsaw.svg", width: 50, class: "style-category-icon" %>
    <%= image_tag "icons/Guitar.svg", width: 20, class: "style-category-icon" %>
    <%= image_tag "icons/Kayak.svg", width: 30, class: "style-category-icon" %>
    <%= image_tag "icons/Mic.svg", width: 25, class: "style-category-icon" %>
    <%= image_tag "icons/Mower.svg", width: 40, class: "style-category-icon" %>
    <%= image_tag "icons/Palette.svg", width: 40, class: "style-category-icon" %>
    <%= image_tag "icons/Snorkel.svg", width: 35, class: "style-category-icon" %>
    <%= image_tag "icons/Speaker.svg", width: 40, class: "style-category-icon" %>
    <%= image_tag "icons/Surfboard.svg", width: 40, class: "style-category-icon" %>
    <%= image_tag "icons/Tent.svg", width: 40, class: "style-category-icon" %>
    <%= image_tag "icons/Umbrella.svg", width: 35, class: "style-category-icon" %>
  </div>
  <div class="d-flex">
    <div class="container-index flex-grow">
      <div class="container-cards">
        <div class="search-filter">
          <%= form_with url: items_path, method: :get, class: "d-flex px-3 pt-2" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control-index",
              placeholder: "Find an item..."
            %>
            <%= submit_tag "Search", class: "index-submit-button" %>
          <% end %>
        </div>
        <div class="m-3">
          <div class="cards">
            <% @items.each do |item| %>
              <% if item.photos_attachments[0] != nil %>
                  <div class="card">
                    <div class="card-image">
                      <%= cl_image_tag item.photos_attachments[0].key, height: 200, crop: :fill %>
                      <div class="style-category-heart">
                        <% if current_user.favorited?(item)  %>
                          <%= link_to "<i class='fa-solid fa-heart'></i>".html_safe, item_favorite_path(item), data: { turbo_method: :delete } %>
                        <% else %>
                          <%= link_to "<i class='fa-regular fa-heart'></i>".html_safe, item_favorite_path(item), data: { turbo_method: :post } %>
                        <% end %>
                      </div>
                    </div>
                    <div class="card-info d-flex justify-content-between align-items-end">
                      <div class="card-name-price">
                        <h4> <%= link_to "#{item.title}", item_path(item) %></h4>
                        <p><%= User.find(item.user_id).first_name %></p>
                        <div class="card-name-price-price">
                          <p> <strong>$<%= item.price %></strong> / day</p>
                        </div>
                      </div>
                      <div class="card-owner">
                        <% if current_user == item.user %>
                          <p>Owner</p>
                        <% end %>
                      </div>
                    </div>
                  </div>
              <% else %>
                <div class="card-category" style="background-color: orange">
                  <h3> <%= link_to "#{item.title}", item_path(item) %> </h3>
                  <h6> <%= item.description %></h6>
                  <p> $<%= item.price %> / day</p>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="map-box">
      <div class="index-map"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
<div class="spacer-100-px my-3">
</div>
