<h2><%= @item.title %></h2>
<p><%= @item.description %></p>
<p>$<%= @item.price %></p>

<% if current_user == @item.user %>
  <%= link_to "Edit Me!", edit_item_path, class: "btn btn-ghost" %>
<% end %>

<% if current_user != @item.user %>
  <%= simple_form_for([@item, @lending]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Lend Me", class: "btn btn-primary btn-lg btn-block btn-booking" %>
  <% end %>
<% end %>

