<div class="container my-5">
  <div class="container-show">
    <div class="card-image">
      <%= cl_image_tag @item.photos_attachments[0].key, width: 400, height: 300, crop: :fill %>
    </div>
    <div class="show-card-info-spe">
      <h2><%= @item.title %></h2>
      <h6><%= @item.description %></h6>
      <p><strong>$<%= @item.price %></strong></p>
    </div>
    <div class="show-button">
    <% if current_user == @item.user %>
      <%= link_to "Edit Item", edit_item_path, class: "btn btn-dark" %>
    <% end %>

    <% if current_user == @item.user %>
      <%= link_to "Delete Item", item_path(@item),  data: {turbo_method: :delete}, class: "btn btn-dark" %>
    <% end %>
    </div>
  </div>
  <% if current_user != @item.user %>
    <div class="show-lend-me">
      <h4>Lend this item</h4>
      <%= simple_form_for([@item, @lending]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit "Borrow Item", class: "btn btn-primary btn-lg btn-block btn-booking" %>
      <% end %>
    </div>
  <% end %>
</div>
