<div class="container d-flex flex-column justify-content-center my-3">
  <h2>Hello <%= @user.first_name %> <%= @user.last_name %>!</h2>
  <h3> Your Details</h3>
  <p><%= @user.phone_number %></p>
  <p><%= @user.email %></p>
  <p>BIO: <%= @user.about %></p>

  <h3>Someone Wants to <br> Borrow Your:</h3>
  <% @user.requests.pending.each do |lending| %>
    <p><%= lending.item.title %> - <%= lending.user.first_name %></p>
    <p><%= link_to "Accept", accept_lending_path(lending), data: {turbo_method: :patch} %> | <%= link_to "Decline", decline_lending_path(lending), data: {turbo_method: :patch} %></p>
    
  <% end %>

  <h3>Your Borrowed Items</h3>
  <% @user.lendings.each do |lending| %>
    <p><%= Item.find(lending.item_id).title %> - <%= lending.status %>...</p>
  <% end %>

  <h3>Your Reviews</h3>
  <% @user.reviews.each do |review| %>
    <p><%= review.rating %> </p>
    <p><%= review.comment %> </p>
  <% end %>
</div>
