<h1>HEY <%= @user.first_name %> <%= @user.last_name %></h1>
<p><%= @user.created_at %></p>
<p><%= @user.phone_number %></p>
<p><%= @user.email %></p>
<p><%= @user.about %></p>
<% @user.items.each do |item| %>
  <p><%= item.title %> - $<%= item.price %></p>
<% end %>