<div class="container">
  <div class="bubble1">
    <h1>Welcome to your dashboard <br> <em><%= @user.first_name.capitalize %></em></h1>
  </div>
  <h2>Activity Feed</h2>
  <div class="container d-flex justify-content-between align-content-center">
    <div class="bubbleA">
      <h3>Lending out <strong><%= @user.lendings.count %></strong> items</h3>
      <ul>
        <% @user.lendings.each do |lending| %>
          <li><%= Item.find(lending.item_id).title %> - <%= lending.status %>...</li>
        <% end %>
      </ul>
    </div>
    <div class="bubbleA">
      <h3><strong><%= @user.requests.count %></strong> Borrow requests</h3>
      <ul>
        <% @user.requests.pending.each do |lending| %>
          <li><%= lending.item.title %> - <%= lending.user.first_name %></li>
          <p><%= link_to "Accept", accept_lending_path(lending), data: {turbo_method: :patch} %> | <%= link_to "Decline", decline_lending_path(lending), data: {turbo_method: :patch} %></p>
        <% end %>
      </ul>
    </div>
  </div>
  <h2>Your Profile</h2>
  <div class="bubble">
    <div class="image">
      <%= cl_image_tag("user_wgpqoy.png", :width=>115, :crop=>"fill") %>
      <p><%= link_to "Update Profile", "#" %></p>
    </div>
    <div class="info">
      <h3> Your Info:</h3>
      <p>Name: <%= @user.first_name %> <%= @user.last_name %> </p>
      <p>Phone number: <%= @user.phone_number %></p>
      <p>Email: <%= @user.email %></p>
    </div>
    <div class="bio">
      <p><strong>About Me:</strong> <%= @user.about.truncate(500) %></p>
    </div>
  </div>
</div>





<%# <h3>Your Reviews</h3> %>
<% @user.reviews.each do |review| %>
  <p><%= review.rating %> </p>
  <p><%= review.comment %> </p>
<% end %>
